body.ismobile .content-block .page-container, .content-block .post-container {margin-top: 10px;}
body.ismobile #magazine-head h1 {font-size:3em;margin-top:0}
body.ismobile #magazine-head h2 {font-size:1.142857em; text-align:center;margin-top:0;}
body.ismobile #magazine-head {margin-top:0;border-top:1px solid #e5e5e5;}
body.ismobile #category-menu ul>li>a {padding:0;display:block;font-size:10.9285em;line-height:1em;}
body.ismobile #home-col-video {border-bottom:1px solid #e5e5e5;}
body.ismobile .post-single-content {width:100% !important;}
body.ismobile .magento-wrapper ul.products li.product {width:100% !important;}
body.ismobile #featured_post div.milana-post-image { background-size: contain; }
body.ismobile #featured_post div.milana-post-title { height: auto; }
body.ismobile #featured_post .milana-post-title h2 {padding-top: 5%;padding-bottom: 19%;font-size: 39px;}
body.ismobile #home-col-video {display:none;}
body.ismobile #featured_post {padding-left:0px; padding-right:10px;}
body.ismobile #category-menu {padding-left: 15px;}
body.ismobile .col-md-12 #category-menu {padding-left: 0px;}
body.ismobile #magazine-head, body.ismobile #blog-menu {
        display:none;
}
/* Regole specifiche per Ipad */
/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body.ismobile #featured_post div.milana-post-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
        }
        /*body.ismobile #home-col-video {display:initial;width:33.3%;}*/
        body.ismobile #featured_post {
                width:66.6%;
        }
        body.ismobile #featured_post div.milana-post-title {
                min-height:411px;
        }
        body.ismobile #featured_post .milana-post-title h2 {
                padding-top: 24%;
                 padding-bottom: 30%;
                font-size: 39px;
        }
        body.ismobile div.zopim {
                bottom:60px !important;
        }
}
/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {

}