/* 
Theme Name: Eurofides Magazine
Theme URI:
Description: Child theme based on milana
Author: Go-Services
Version: 1.0
Template: milana
*/
/* 
* 8.4. 2 column layout
*/

/*
@media (min-width:984px){
	.post-single-content{max-width:984px}
}
@media (min-width:1160px) and (max-width:1424px){
	.post-single-content{margin-left:88px;margin-right:88px;max-width:1224px}
	.responsive .section-container.article{width:auto}
}
@media (max-height:768px) and (min-width:1260px) and (max-width:1524px){
	.post-single-content{margin-left:138px;margin-right:138px;max-width:1224px;}
}
@media (min-width:1425px){
	.post-single-content{margin-left:auto;margin-right:auto;max-width:1248px;}
}
*/
#magazine-head {border-bottom: 1px solid #e5e5e5; margin-top: 10px;}
#magazine-head>.col-md-12, #magazine-head>.col-md-8, #magazine-head>.col-md-6, #magazine-head>.col-md-4 {margin-bottom: 15px;}
#magazine-head h1 {
    font-family: 'Rokkitt', serif;
    text-transform: uppercase;
    font-size: 62px;
    text-align: center;
    margin-bottom: 0;
    color:#000;
    font-weight: 700;
}

#magazine-head h1 a, #magazine-head h1 a:hover  {text-decoration: none;color:#000;font-weight: 700; }

#magazine-head h2 {
    font-family: 'Rokkitt', serif;
    text-transform: none;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 13px;
    color:#000;
    font-weight: 700;
    line-height: 20px;
}

#magazine-head h2 .line1 {font-size:36px;}
#magazine-head h2 .line2 {font-size:22px;}

#magazine-head .social-link img {width:32px; height: 32px; border: 0;}
#magazine-head .social-link {text-align: center; margin-top: 20px;}
#magazine-head .social-link a {margin-right: 7px;}
#magazine-head .social-link a:hover {text-decoration: none;}

#blog-menu {margin-bottom: 20px;}

#category-menu{padding:0;}
#category-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#category-menu ul>li {
    position: relative;
    display: inline-block;
    float: left;
}

#category-menu ul>li>a {
    font-family: 'Open Sans';
    font-size: 13px!important;
    color: #0bae91;
    background: transparent;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    /*border-radius: 2em;*/
    margin: 2px 5px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}
#category-menu ul>li>a:hover, #category-menu ul>li>a:active, #category-menu ul>li>a:focus {
    color: #fff;
    background: #0bae91;
    text-decoration: none;
}

#video-menu {text-align: right;}
#video-menu a {
    font-family: 'Open Sans';
    font-size: 13px!important;
    color: #fff;
    background: #0bae91;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    /*border-radius: 2em;*/
    margin: 2px 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
}

#video-menu a:hover, #video-menu a:active, #video-menu a:focus {
    color: #363b43;
    background: #f5f4f0;
    text-decoration: none;
}

.content-block.blog-post.blog-post-3-column-layout {
    width: 33.33%;
    float: left;
    clear: none;
    background: none;
    box-shadow: none;
    padding: 0 15px 0 0;
    border-bottom: 0;
	/*height: 500px;
	overflow: hidden;*/
}

/* colonna 1 */
#content.blog-posts-list .content-block.blog-post:nth-child(3n+1) {
/*.content-block.blog-post.blog-post-3-column-layout:nth-child(3n+1) {*/
    padding-right:10px;
    padding-left:0;
    clear: both;
}

/* colonna 3 */
#content.blog-posts-list .content-block.blog-post:nth-child(3n) {
/*.content-block.blog-post.blog-post-3-column-layout:nth-child(1n+1) {*/
    padding-left: 10px;
    padding-right: 0;
}

/* colonna 2 */
#content.blog-posts-list .content-block.blog-post:nth-child(3n+2) {
/*.content-block.blog-post.blog-post-3-column-layout:nth-child(1n+2) {*/
    padding-left: 5px;
    padding-right: 5px;
}

.page-item-title-archive {margin-top:30px; margin-bottom:30px;}

.blog-post.blog-post-3-column-layout .post-content {
    padding-left: 0;
    padding-right: 0;
}
.content-block.blog-post.blog-post-3-column-layout .post-content-wrapper {
    border: 0;
}
.blog-post.blog-post-3-column-layout .blog-post-media.blog-post-media-video iframe,
.blog-post.blog-post-3-column-layout .blog-post-media.blog-post-media-audio iframe {
    height: 321px;
}
.blog-post.blog-post-3-column-layout:first-child .blog-post-media.blog-post-media-video iframe,
.blog-post.blog-post-3-column-layout:first-child .blog-post-media.blog-post-media-audio iframe {
    height: 660px;
}
.col-md-9 .blog-post.blog-post-3-column-layout .blog-post-media.blog-post-media-video iframe,
.col-md-9 .blog-post.blog-post-3-column-layout .blog-post-media.blog-post-media-audio iframe {
    height: 237px;
}
.col-md-9 .blog-post.blog-post-3-column-layout:first-child .blog-post-media.blog-post-media-video iframe,
.col-md-9 .blog-post.blog-post-3-column-layout:first-child .blog-post-media.blog-post-media-audio iframe {
    height: 491px;
}

/* ------------ */
header[role=banner]>.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-posts-list .post-content-wrapper .entry-content {font-size:0.9em; line-height:2em;color:#868474;font-family: 'Prompt',Calibri,Helvetica Neue,Helvetica,Arial,sans-serif; height:4em; overflow:hidden;}
.blog-post-single .entry-content p, .blog-post-single .entry-content ul, .blog-post-single .entry-content ol,
.blog-post-single .entry-content pre {
    line-height: 1.7em;
    font-size: 15px;
    color: #727168;
}

.blog-post-single .entry-content h2,
.blog-post-single .entry-content h3,
.blog-post-single .entry-content h4,
.blog-post-single .entry-content h5,
.blog-post-single .entry-content h6 {
    color:#63625e; font-weight: bold; margin-bottom: 8px;
}

.blog-post-single .entry-content h3 {color: #5b5b55; font-weight:normal; margin-top: 20px;}

#nav-below {margin-bottom:30px; }
.nav-post-prev a, .nav-post-next a {padding:15px 30px!important; min-height: 95px;}
.nav-post-prev a:hover, .nav-post-next a:hover { background-color: #ddd; }

.blog-posts-list .post-content-wrapper h2.post-header-title {font-size:1.6em; text-align:center;line-height:1.4em;
    height: 3em;
    word-break: break-word;
	-webkit-box-align: center;
	align-items: center;
	vertical-align:middle;
	display:table;
	width: 100%;
    font-family: 'Aref Ruqaa';
}

.blog-posts-list .post-content-wrapper h2.post-header-title span {
    width: 100%;
    max-height: 2.8em;
	display:table-cell;
    overflow: hidden;
	vertical-align: middle;
    font-family: 'Aref Ruqaa';
}
.blog-post{margin-bottom:20px;}
.blog-post .post-header-title a {
    color: #727066;
    text-decoration: none;
}
.blog-post .post-header-title a:hover {
    color: #66645b!important;
}
.blog-post .blog-post-thumb { margin-bottom: 10px;}
.blog-post .post-content { padding:10px 0; }

article img.video-post-icon {
    position: absolute;
    z-index: 15;
    top: 10px;
    left: 10px;
}

.featpost-categories {
    width: 100%;
    margin-top:-55px;
    text-align: center;
    text-transform: uppercase;
}

.featpost-categories a {
    display: inline-block!important;
    padding: 0 1em;
    height: 24px;
    line-height: 24px!important;
    border-radius: 2em;
    font-family: 'Prompt',Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px!important;
    color: #99978a;
    background: #f5f4f0;
}

.featpost-categories a:hover {color: #fff; background: #aead9e;text-decoration:none;}

.post-categories {margin-top:15px;}

.post-categories a {
	display: inline-block!important;
    padding: 0 1em;
    height: 24px;
    line-height: 24px!important;
    border-radius: 2em;
    font-family: 'Prompt',Calibri,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px!important;
    color: #99978a;
    background: #e8e7e3;
    box-sizing: content-box;
}

.post-categories a:hover {color: #fff; background: #a3a196;}

.fa { color:#727066; }
.fa:hover { color:#66645b!important; }
#featured_post div.milana-post-image { background-size: cover; }
#featured_post div.milana-post-title {
    height:430px;
    background: -webkit-linear-gradient(top,transparent 50%,#000 250%);
    background: linear-gradient(180deg,transparent 50%,#000 250%);
}

#featured_post .milana-post-title h2 {
    padding-top: 40%;
    padding-bottom: 10%;
	font-size: 2.8em;
    text-align: center;
    word-break: break-word;
	text-shadow: 0 0 12px #000;
    font-family: 'Aref Ruqaa';
}
#featured_post a.milana-post-title-link {color:#ffffff;text-decoration:none;}
#featured_post a.milana-post-title-link:hover {color:#ffffff;text-decoration:none;}
#featured_post.col-md-8 { padding-left: 5px; padding-right: 0px; }

#home-col-video.col-md-4 {padding-left: 0px; padding-right: 10px;}
#home-col-video h2 {font-family: 'Montserrat'; font-size:1em; text-align:center;font-weight:bold;letter-spacing:2px;}
#home-col-video .video-img {height:110px; width:50%; float:left;}
#home-col-video .video-img .video-post-image {padding:5px;height:100px;}
#home-col-video .video-text {float:left;width:50%;padding-left:7px;}
#home-col-video h3 {font-size:16px;font-family: 'Aref Ruqaa';}
#home-col-video a {color:#727066;text-decoration:none;}
#home-col-video a:hover {color:#66645b;text-decoration:none;}
#home-col-video .videopost-categories { padding-left: 7px;float: left; width: 50%; }
#home-col-video .videopost-categories a {color:#aead9e}
#home-col-video .videopost-categories a:hover {color:#807e73;}

.container-fluid.container-page-item-title {background:#fff;}
.page-item-title-single {margin-top:0!important; margin-bottom:0!important}
.page-item-title-single h1 {font-family: 'Aref Ruqaa'; max-width: 880px; font-size:32px;}
.page-item-title-archive h1 { font-family: 'Prompt',Calibri,Helvetica Neue,Helvetica,Arial,sans-serif; margin-bottom: 10px; }
.post-single-content { width: 910px!important;}

/* Magento conflicts */
.navbar:before, .navbar:after {
	content:none;
}

.navbar .nav > li {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
	float:none;
}

.navbar .nav > li > a {
	color:#000;
	position: static;
    padding: 5px 10px;
	font-weight: 700;
	clear: both;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
	text-decoration: none;
	background-color: transparent;
	border:none;
	font-size: 14px;
	margin:0;
}

.dropdown-menu li a {
    position: static;
    padding: 5px 10px;
}

.dropdown-menu> li > a {
    font-weight: 700;
}

.dropdown-menu li a span {
    padding: 3px 5px;
	font-family:'Open Sans';
}

.dropdown-menu ul.level0 { margin-top:-5px!important; }
ul.dropdown-menu.mainmenu li.level0 {height:36px!important;}
/*.dropdown-menu ul.level0 ul { margin-top:-15px!important; }*/

#search_mini_form #algolia-searchbox .btn .fa, #search_mini_form .input-group .btn .fa {
    color: #fff;
}

#search_mini_form #algolia-searchbox .btn, #search_mini_form .input-group .btn {
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: right;
    height: 40px;
	color: #fff;
    border-radius: 0;
    font-size: 13px;
}

#search_mini_form #algolia-searchbox .btn .fa:hover, #search_mini_form .input-group .btn .fa:hover{
	color:#fff!important;
}

.richiedi-catalogo {
    font-family: 'Open Sans'!important;
    font-size: 13px!important;
    text-transform: none!important;
    padding: 6px 15px!important;
    line-height: 1.42857143!important;
}
.sfoglia-catalogo {
    font-family: 'Open Sans'!important;
    font-size: 13px!important;
    text-transform: none!important;
    padding: 6px 15px!important;
    line-height: 1.42857143!important;
}

#home-customer-banner .safeshopping, #home-customer-banner .box-footer, .footer-contacts {
    line-height: 1.4;
    color: #333;
    font-size: 13px;
}

#home-customer-banner .safeshopping a, #home-customer-banner .box-footer a, .footer-contacts a {color: #363b43; }
#home-customer-banner .safeshopping a:hover, #home-customer-banner .box-footer a:hover, .footer-contacts a:hover {text-decoration: underline;}

.footer-bottom { color: #333;}
.clearfix.spacerb15 { margin-bottom: 15px; }

.blog-post.blog-post-single .post-content ul {
     list-style: disc; padding-left: 30px;
 }

.blog-post.blog-post-single .post-content ol {
    list-style: decimal; padding-left: 30px;
}

.header-messages .fa, .header-messages .fa:hover { color: #fff!important; }

.magento-wrapper { margin-top:35px; }
.magento-wrapper .image { text-align:center; }
.magento-wrapper h3.name { text-align:center; font-size:15px;font-weight:bold;font-variant:small-caps; }
.magento-wrapper ul.products li.product .price {text-align:center;}
.magento-wrapper ul.products li.product .price .current-price { font-size:13px!important; color:#727168!important; }
.magento-wrapper ul.products li.product .price .stroke-price { text-decoration: line-through; }
.magento-wrapper ul.products li.product .price .sold-price { color:#e43232; font-weight:bold; }

/*
@media (min-width: 768px) {
    body.blog .container {width:750px!important;}
}

@media (min-width: 982px) {
    body.blog .container {width:970px!important;}
}

@media (min-width: 1080px) {
    body.blog .container {width:1089px!important;}
}

@media screen and (max-width: 320px){
    body {background:#FF8000!important;}
}

@media screen and (min-width: 321px) and (max-width: 480px){
    body {background:#00661A!important;}
}

@media screen and (min-width: 481px) and (max-width: 600px){
    body {background:#D900D9!important;}
}

@media screen and (min-width: 601px) and (max-width: 768px){
    body {background:#00FFFF!important;}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    body {background:#400040!important;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    body {background:#0000FF!important;}
}

*/