// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Accordion
//
// ========================================================================


// Variables
// ========================================================================

@accordion-title-margin-bottom:                 10px;
@accordion-title-padding-horizontal:            @global-margin;
@accordion-title-font-size:                     round((@global-font-size * 1.28)); // 18px / 20px
@accordion-title-line-height:                   round((@accordion-title-font-size * 1.32)); // 24px / 26px
@accordion-title-background:					rgba(0, 0, 0, 0);

//
// New
//

@accordion-title-padding-top:					@accordion-title-margin-bottom;
@accordion-title-border:						@global-border;


// Component
// ========================================================================

.hook-accordion() {}


// Modifier: `uk-accordion-title`
// ========================================================================

.hook-accordion-title() {

	padding-top: @accordion-title-margin-bottom;

	&:not(:first-child) { border-top: 1px solid  @accordion-title-border; }

}


// Modifier: `uk-accordion-content`
// ========================================================================

.hook-accordion-content() {}


// Miscellaneous
// ========================================================================

.hook-accordion-misc() {}