// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Contrast
//
// ========================================================================

//
// New
//

@nav-side-link-color:                     @global-color;
@nav-side-link-hover-color:                     @global-link-color;


// Base
// ========================================================================

.hook-contrast-base-code() {}


// Nav
// ========================================================================

.hook-contrast-nav-side() {}
.hook-contrast-nav-side-hover() {}
.hook-contrast-nav-side-active() {}
.hook-contrast-nav-side-header() {}
.hook-contrast-nav-side-divider() {}


// Subnav
// ========================================================================

.hook-contrast-subnav() {}
.hook-contrast-subnav-hover() {}
.hook-contrast-subnav-active() {}
.hook-contrast-subnav-line-divider() {}
.hook-contrast-subnav-pill-hover() {}
.hook-contrast-subnav-pill-active() {}


// List
// ========================================================================

.hook-contrast-list-line() {}

// Form
// ========================================================================

.hook-contrast-form() {}
.hook-contrast-form-focus() {}


// Button
// ========================================================================

.hook-contrast-button() {}
.hook-contrast-button-hover() {}
.hook-contrast-button-active() {}
.hook-contrast-button-primary() {}
.hook-contrast-button-primary-hover() {}
.hook-contrast-button-primary-active() {}


// Icon
// ========================================================================

.hook-contrast-icon-hover() {}
.hook-contrast-icon-hover-hover() {}
.hook-contrast-icon-button() {}
.hook-contrast-icon-button-hover() {}
.hook-contrast-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-contrast-misc() {

    .uk-nav-side ul a { color: @nav-side-link-color; }
    .uk-nav-side ul a:hover { color: @nav-side-link-hover-color; }

}
