// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

@icon-button-width:                             50px;
@icon-button-height:                            @icon-button-width;
@icon-button-background:                        @global-dark-background;

@icon-hover-color:                              @global-dark-color;
@icon-hover-hover-color:                        @global-link-color;

@icon-button-color:                             @global-contrast-color;
@icon-button-hover-background:                  @global-primary-background;
@icon-button-hover-color:                       @global-contrast-color;

@icon-button-active-background:                 @global-dark-background;
@icon-button-active-color:                      @global-contrast-color;


// Modifier: `uk-icon-button`
// ========================================================================

.hook-icon-button() {}

// Hover
.hook-icon-button-hover() {}

// Active
.hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}
